.brands{

padding:40px;

text-align:center;

}

.brands h2{

margin-bottom:30px;

font-size:35px;

}

.brand-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:25px;

}

.brand-card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

transition:.3s;

cursor:pointer;

font-size:60px;

}

.brand-card:hover{

transform:translateY(-10px);

background:#2563eb;

color:white;

}

.brand-card h3{

margin-top:15px;

}