.hero-banner{
display:flex;
justify-content:space-between;
align-items:center;

padding:60px;

margin:30px;

border-radius:20px;

background:linear-gradient(135deg,#2563eb,#60a5fa);

color:white;
}

.hero-left{

max-width:550px;

}

.sale-tag{

background:white;

color:#2563eb;

padding:8px 15px;

border-radius:20px;

font-weight:bold;

display:inline-block;

margin-bottom:20px;

}

.hero-left h1{

font-size:55px;

margin-bottom:15px;

}

.hero-left p{

font-size:18px;

line-height:30px;

margin-bottom:25px;

}

.hero-buttons{

display:flex;

gap:15px;

}

.shop-btn{

background:white;

color:#2563eb;

padding:15px 30px;

border:none;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}

.explore-btn{

background:transparent;

border:2px solid white;

color:white;

padding:15px 30px;

border-radius:10px;

cursor:pointer;

}

.hero-right{

font-size:170px;

}

@media(max-width:768px){

.hero-banner{

flex-direction:column;

text-align:center;

}

.hero-left h1{

font-size:38px;

}

.hero-right{

font-size:120px;

margin-top:30px;

}

}